@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
  logs: false;
}
@source "../../../content/**/*.md";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96.8% 0.032 169.2);
  --color-base-200: oklch(88.1% 0.058 166.2);
  --color-base-300: oklch(97.4% 0.252 135.6);
  --color-base-content: oklch(32.9% 0.329 147.6);
  --color-primary: oklch(34.9% 0.065 152.934);
  --color-primary-content: oklch(79.7% 0.332 147.6);
  --color-secondary: oklch(49.9% 0.051 123.8);
  --color-secondary-content: oklch(91.9% 0.195 148.8);
  --color-accent: oklch(58.2% 0.302 97);
  --color-accent-content: oklch(100% 0.021 106.8);
  --color-neutral: oklch(44.6% 0.28 132.109);
  --color-neutral-content: oklch(94% 0.113 152.2);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(74.6% 0.215 101.9);
  --color-warning-content: oklch(13.6% 0.061 49.25);
  --color-error: oklch(43.5% 0.171 45.9);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(23.8% 0.154 192.524);
  --color-base-200: oklch(18.8% 0.154 192.524);
  --color-base-300: oklch(30.7% 0.338 150.3);
  --color-base-content: oklch(74.6% 0.329 147.6);
  --color-primary: oklch(76.5% 0.332 147.6);
  --color-primary-content: oklch(26% 0.065 152.934);
  --color-secondary: oklch(69% 0.17 162.48);
  --color-secondary-content: oklch(26% 0.051 172.552);
  --color-accent: oklch(58.2% 0.37 97);
  --color-accent-content: oklch(100% 0.021 106.8);
  --color-neutral: oklch(18.3% 0.172 132.109);
  --color-neutral-content: oklch(94% 0.127 152.2);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(74.6% 0.215 101.9);
  --color-warning-content: oklch(13.6% 0.061 49.25);
  --color-error: oklch(43.5% 0.171 45.9);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
