@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  root: ":root";
  include:;
  exclude:;
  prefix:;
  logs: false;
}

h1 {
  @apply text-[#32cd32] m-8 rounded-2xl border p-4 text-4xl font-extrabold;
}
